html, body{
    font-size: 4px;
    font-family: sans-serif;
    background: #f1f6f6;
}

.site__header{
    background: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.header__info{
    /* background: white; */
    width: 360rem;
    padding: 2rem;
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap;
}

.header__name{
    color: #00a09b;
    font-size: 8rem;
    padding: 2rem;
    font-weight: bold;

}

.header__title{
    color: #bdbdbd;
    font-size: 4rem;
    padding: 6rem;
}

.password__text{
    font-size: 5rem;
    font-weight: bold;
    padding-top: 4rem;
    padding-left: 200rem;
    color: #00c4c0;
}

.site__user{
    font-size: 6rem;
    color: #00a09b;
    padding: 6rem;
    display: flex;
    flex-direction: row;
}

.user__icon{
    padding: 1rem;
}

.body{
    display: flex;
    flex-flow: row wrap;
    margin: 40px;
}

.site__aside{
    border-radius: 2rem;
    background: white;
    width: 318px;
    height: 669px;
    /* padding: 50px 100px;  */
    /* padding-top: 50px;  */
    /* padding-left: 40px;
    padding-right: 40px; */
    font-size: 16px;
}

.aside__title{
    padding: 60px 60px 10px 60px;
    color: #e1e6e6;
    font-family: Montserrat;
    font-size: 14px;
}

.aside__pbasico{
    padding: 10px 60px;
    color: #019c97;
    font-family: "Open Sans";
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
}

.aside__clase{
    /* padding: 50px; */
    padding: 10px 60px;
    color: #747e7e;
    font-family: "Open Sans";
    font-size: 15px;
}

.aside__footer{
    padding-top: 70px;
    border-top:1px solid grey;
}

.footer__title{
    padding: 0px 60px;
    color: #00a09b;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
}

.footer__input{
    padding: 10px 20px;   
}

.input-name{
    background-color: #f1f6f6;
    border-radius: 24px;
    border: 1px solid #dde4e4; 
    width: 201px;
    height: 47px;
    font-family: "Open Sans";
    font-size: 14px;
    color: #c0c0c0;
    text-align: center;
}

.site__functions{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-end; */
}

.btn{
    width: 53px;
    height: 53px;
    border-radius: 60%;
    background-color: #00a09b;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #00a09b; 
}

.functions__title{
    padding-left: 80px;
    color: #00938e;
    font-family: "Open Sans";
    font-size: 29px;
    display: flex;
    flex-flow: row wrap;
}

.icon__edit{
    padding-left: 30px;
    color: #a0aaaa;
}

.icon__delete{
    padding-left: 15px;
    color: #c78181;
}

.btn_addBook{
    width: 206px;
    height: 49px;
    border-radius: 25px;
    background-color: #00bc5d;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #00bc5d; 
}

.btn_addCategory{
    width: 242px;
    height: 49px;
    border-radius: 25px;
    background-color: #00bcb7;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #00bcb7; 
}

.functions__buttons{
    padding-left: 400px;
    display: flex;
    justify-content: flex-end;
} 

.btn_addCategory{
    margin-left: 30px;
}

.right__contetn{
    display: flex;
    /* flex-direction: column; */
    flex-direction: column;
}

.language__spanish{
    color: #019c97;
    font-family: "Open Sans";
    font-size: 15px;
}

.language__english{
    color: #a6a7a7;
    font-family: "Open Sans";
    font-size: 15px;
    padding-left: 40px;
}

.align{
    display: flex;
    flex-flow: row wrap;
    padding-left: 80px;
    padding-top: 20px;
}

.book {
    border-radius: 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    display: block;
    margin-bottom: 2rem;
    overflow: hidden;
    width: 226px;
    margin-right: 50px;
}

.book__image {
    background-position: center;;
    background-size: cover;
    height: 70rem
}

.book__footer {
    background: white;
    padding: 16px;
    position: relative;
}

.book__title {
    color: #019c97;
    font-size: 3rem;
    font-weight: bold;
}

.book__size {
    padding-top: 1rem;
    color: #777777;
    font-size: 3rem;
}

.book__actions {
    bottom: 0;
    height: 14rem;
    position: absolute;
    right: 0;
    width: 12rem;
}

.site__books{
    padding: 50px;
    padding-left: 80px;
    display: flex;
    flex-flow: row wrap;
}

.fa-ellipsis-v {
    font-size: 20px;
    color: grey;
    padding: 15px;
}